<h1 align=center>Лекция #1</h1>

<ul type = "circle" style="font-size:25px;">
    <li style="margin-bottom:5px;">Основные типы данных:</li>
    <ul type = "square" style="font-size:20px;">
        <li style="margin-bottom:5px;">Numbers (числа)</li>
        <li style="margin-bottom:5px;">Strings (строки)</li>
        <li style="margin-bottom:5px;">Lists (списки)</li>
        <li style="margin-bottom:5px;">Tuples (кортежи)</li>
        <li style="margin-bottom:5px;">Dictionaries (словари)</li>        
        <li style="margin-bottom:5px;">Sets (множества)</li>
    </ul>
    <li style="margin-bottom:5px;">Функции</li>
    <li style="margin-bottom:5px;">Лямбда функции (Lambda function)</li>
    <li style="margin-bottom:5px;">Итераторы и Генераторы (Iterator, Generator)</li>    
    <li style="margin-bottom:5px;">Функции zip, map и filter</li> 
    <li style="margin-bottom:5px;">Модули (Modules)</li> 
    <li style="margin-bottom:5px;">Magic Commands</li>
</ul>

# Основные типы данных

### Numbers (числа)

С числами можно выполнять различные математические операции.

In [1]:
1 + 2

3

In [3]:
2.6 - 1

1.6

In [4]:
2**3

8

In [5]:
10/3

3.3333333333333335

С помощью функции **round** можно округлять числа до нужного количества знаков:

In [6]:
round(10/3.0, 4)

3.3333

Остаток от деления:

In [9]:
10 % 3

1

Операторы сравнения:

In [10]:
10 > 3.0

True

In [11]:
10 == 3

False

In [12]:
5 == 5

True

In [13]:
6 / 2 == 3

True

Функция **int()** и **float()** позволяет выполнять конвертацию в тип int и float:

In [16]:
a = '11'
int(a)

11

In [19]:
a = '11.6'
int(a)

ValueError: invalid literal for int() with base 10: '11.6'

In [20]:
a = '11.6'
float(a)

11.6

In [21]:
a = '11'
float(a)

11.0

### Строки (Strings)

Строка в Python это:
<ul>
<li>последовательность символов, заключенная в кавычки</li>
<li>неизменяемый упорядоченный тип данных</li>
</ul>

In [26]:
'this is text'

'this is text'

In [27]:
"this is text to"

'this is text to'

In [24]:
"""this is text to"""

'this is text to'

In [28]:
"""
this is text to
this is text to
this is text to
"""

'\nthis is text to\nthis is text to\nthis is text to\n'

Строки можно суммировать. Тогда они объединяются в одну строку:

In [29]:
str_1 = 'Data'
str_2 = 'Science'

In [30]:
str_1 + ' ' + str_2

'Data Science'

Строку можно умножать на число. В этом случае, строка повторяется указанное количество раз:

In [31]:
str_3 = str_1 + ' ' + str_2

In [33]:
str_3 * 3

'Data ScienceData ScienceData Science'

То, что строки являются упорядоченным типом данных, позволяет обращаться к символам в строке по номеру, начиная с нуля:

In [34]:
str_3[0]

'D'

In [35]:
str_3[2]

't'

In [36]:
str_3[3]

'a'

Нумерация всех символов в строке идет с нуля. Но, если нужно обратиться к какому-то по счету символу, начиная с конца, то можно указывать отрицательные значения (на этот раз с единицы).

In [37]:
str_3[-1]

'e'

In [38]:
str_3[-2]

'c'

Кроме обращения к конкретному символу, можно делать срезы строк, указав диапазон номеров (срез выполняется по второе число, не включая его):

<img src="imgs/string_slicing.jpeg">

In [40]:
"Monty Python"[6: 10]

'Pyth'

In [41]:
"Monty Python"[-12: -8]

'Mont'

Если не указывается второе число, то срез будет до конца строки.

In [42]:
"Monty Python"[6:]

'Python'

In [43]:
"Monty Python"[:-8]

'Mont'

Также в срезе можно указывать шаг. Так можно получить нечетные числа:

In [44]:
string_number = '0123456789'
string_number[1::2]

'13579'

In [45]:
string_number[::2]

'02468'

Функция **str()** позволяет выполнять конвертацию в тип string:

In [47]:
str(1)

'1'

In [48]:
str(2.8)

'2.8'

Все переменные в Python - это объекты со своими методами и функциями

In [50]:
dir("")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

#### Методы : upper, lower и split

In [57]:
"методы : upper, lower и split".upper()

'МЕТОДЫ : UPPER, LOWER И SPLIT'

In [59]:
"МЕТОДЫ : UPPER, LOWER и SPLIT".lower()

'методы : upper, lower и split'

In [60]:
"методы : upper, lower и split".split(' ')

['методы', ':', 'upper,', 'lower', 'и', 'split']

#### Форматирование строк с помощю метода format()

In [61]:
string_1 = "Data"
string_2 = "Science"

In [63]:
"I learn {} {} course".format(string_1, string_2)

'I learn Data Science course'

In [64]:
"I learn {str_1} {str_2} course".format(str_2 = string_2,
                                        str_1 = string_1)

'I learn Data Science course'

#### Метод count()

In [69]:
'I learn Data Science course'.count('c')

3

#### Метод: replace()

In [70]:
'I learn Data Science course'.replace('Data Science', 'Python')

'I learn Python course'

### Список (List)

Список в Python это:
<ul>
<li>последовательность элементов, разделенных между собой запятой и заключенных в квадратные скобки</li>
<li>изменяемый упорядоченный тип данных</li>
</ul>

In [71]:
[1, "two", 3, "f4", [1, 2, 5]]

[1, 'two', 3, 'f4', [1, 2, 5]]

Так как список - это упорядоченный тип данных, то, как и в строках, в списках можно обращаться к элементу по номеру, делать срезы:

In [72]:
my_list = [1, "two", 3, "f4", [1, 2, 5]]

In [73]:
my_list[0]

'two'

In [75]:
my_list[4]

[1, 2, 5]

In [77]:
my_list[2:]

[3, 'f4', [1, 2, 5]]

Можно создавать и список списков. И, как и в обычном списке, можно обращаться к элементам во вложенных списках:

In [79]:
my_list[4][1]

2

Создание списка с помощью функции list():

In [102]:
list('I learn Data Science course')

['I',
 ' ',
 'l',
 'e',
 'a',
 'r',
 'n',
 ' ',
 'D',
 'a',
 't',
 'a',
 ' ',
 'S',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e',
 ' ',
 'c',
 'o',
 'u',
 'r',
 's',
 'e']

Все переменные в Python - это объекты со своими методами и функциями

In [87]:
# dir(my_list)

|Метод|Что делает|
| --- |:--- |
|list.append(x)|Добавляет элемент в конец списка|
|list.extend(L)|Расширяет список list, добавляя в конец все элементы списка L|
|list.insert(i, x)|Вставляет на i-ый элемент значение x|
|list.remove(x)|Удаляет первый элемент в списке, имеющий значение x. ValueError, если такого элемента не существует|
|list.pop([i])|Удаляет i-ый элемент и возвращает его. Если индекс не указан, удаляется последний элемент|
|list.index(x, [start [, end]])|Возвращает положение первого элемента со значением x (при этом поиск ведется от start до end)|
|list.count(x)|Возвращает количество элементов со значением x|
|list.sort([key=функция])|Сортирует список на основе функции|
|list.reverse()|Разворачивает список|
|list.copy()|Поверхностная копия списка|
|list.clear()|Очищает список|

#### Метод append()

In [94]:
my_list = []

In [95]:
my_list

[]

In [96]:
my_list.append("new_value")
my_list.append(100)

In [97]:
my_list

['new_value', 100]

#### Метод remove()

In [98]:
my_list.remove("new_value")

In [99]:
my_list

[100]

#### Метод reverse()

In [100]:
my_list = [1, "two", 3, "f4", [1, 2, 5]]
my_list

[1, 'two', 3, 'f4', [1, 2, 5]]

In [101]:
my_list.reverse()
my_list

[[1, 2, 5], 'f4', 3, 'two', 1]

### Tuples (кортежи)

Кортеж в Python это:
<ul>
<li>последовательность элементов, которые разделены между собой запятой и заключены в скобки</li>
<li>неизменяемый упорядоченный тип данных</li>
</ul>

Грубо говоря, кортеж - это список, который нельзя изменить. То есть, в кортеже есть только права на чтение. Это может быть защитой от случайных изменений.

In [103]:
(1, 2, 4, 'abc')

(1, 2, 4, 'abc')

Создание кортежа с помощью функции tuple():

In [105]:
tuple([1, 2, 4, 'abc'])

(1, 2, 4, 'abc')

Все переменные в Python - это объекты со своими методами и функциями

In [107]:
my_tuple = (1, 2, 4, 'abc')

In [108]:
dir(my_tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [109]:
# %timeit – измеряет среднее время выполнения кода
# запускет несколько раз и смотрит как быстро все выполнялось mean ± std
%timeit 2+2

8.74 ns ± 0.26 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

In [110]:
%timeit [1, 2, 3, 4, 5, 6][3]

81.9 ns ± 6.56 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [111]:
%timeit (1, 2, 3, 4, 5, 6)[3]

8.14 ns ± 0.0254 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

### Dictionaries (словари)

Словари - это изменяемый упорядоченный тип данных:

<ul>
<li>данные в словаре - это пары <b>ключ</b>: <b>значение</b></li>
<li>доступ к значениям осуществляется по ключу, а не по номеру, как в списках</li>
<li>данные в словаре упорядочены по порядку добавления элементов</li>
<li>так как словари изменяемы, то элементы словаря можно менять, добавлять, удалять</li>
<li>ключ должен быть объектом неизменяемого типа: число, строка, кортеж</li>
<li>значение может быть данными любого типа</li>
</ul>

In [113]:
{'id': 1,
 'name': 'London',
 'it_vlan': 320,
 'user_vlan': 1010,
 'mngmt_vlan': 99,
 'to_name': None,
 'to_id': None,
 'port':'G1/0/11'
}

{'id': 1,
 'name': 'London',
 'it_vlan': 320,
 'user_vlan': 1010,
 'mngmt_vlan': 99,
 'to_name': None,
 'to_id': None,
 'port': 'G1/0/11'}

Для того, чтобы получить значение из словаря, надо обратиться по ключу, таким же образом, как это было в списках, только вместо номера будет использоваться ключ:

In [114]:
my_dict = {'id': 1,
 'name': 'London',
 'it_vlan': 320,
 'user_vlan': 1010,
 'mngmt_vlan': 99,
 'to_name': None,
 'to_id': None,
 'port':'G1/0/11'
}

In [115]:
my_dict['id']

1

In [116]:
my_dict['name']

'London'

Аналогичным образом можно добавить новую пару ключ-значение:

In [117]:
my_dict['list_of_users'] = ['user1', 'user2', 'user3', 'user4']

In [118]:
my_dict

{'id': 1,
 'name': 'London',
 'it_vlan': 320,
 'user_vlan': 1010,
 'mngmt_vlan': 99,
 'to_name': None,
 'to_id': None,
 'port': 'G1/0/11',
 'list_of_users': ['user1', 'user2', 'user3', 'user4']}

Все переменные в Python - это объекты со своими методами и функциями

In [120]:
# dir(my_dict)

|Метод|Что делает|
| --- |:--- |
|dict.clear()|Очищает словарь.|
|dict.copy()|Возвращает копию словаря.|
|classmethod dict.fromkeys(seq[, value])|Создает словарь с ключами из seq и значением value (по умолчанию None).|
|dict.get(key[, default])|Возвращает значение ключа, но если его нет, не бросает исключение, а возвращает default (по умолчанию None).|
|dict.items()|Возвращает пары (ключ, значение).|
|dict.keys()|Возвращает ключи в словаре.|
|dict.pop(key[, default])|Удаляет ключ и возвращает значение. Если ключа нет, возвращает default (по умолчанию бросает исключение).|
|dict.popitem()|Удаляет и возвращает пару (ключ, значение). Если словарь пуст, бросает исключение KeyError. Помните, что словари неупорядочены.|
|dict.setdefault(key[, default])|Возвращает значение ключа, но если его нет, не бросает исключение, а создает ключ с значением default (по умолчанию None).|
|dict.update([other])|Обновляет словарь, добавляя пары (ключ, значение) из other. Существующие ключи перезаписываются. Возвращает None (не новый словарь!).|
|dict.values()|Возвращает значения в словаре.|

In [121]:
# Список ключей
my_dict.keys()

dict_keys(['id', 'name', 'it_vlan', 'user_vlan', 'mngmt_vlan', 'to_name', 'to_id', 'port', 'list_of_users'])

In [123]:
# Список объектов 
my_dict.values()

dict_values([1, 'London', 320, 1010, 99, None, None, 'G1/0/11', ['user1', 'user2', 'user3', 'user4']])

In [127]:
# Возвращает пары (ключ, значение). Список из кортежей
my_dict.items()

dict_items([('id', 1), ('name', 'London'), ('it_vlan', 320), ('user_vlan', 1010), ('mngmt_vlan', 99), ('to_name', None), ('to_id', None), ('port', 'G1/0/11'), ('list_of_users', ['user1', 'user2', 'user3', 'user4'])])

### Sets (множества)

Множество - это изменяемый неупорядоченный тип данных. В множестве всегда содержатся только уникальные элементы.

Множество в Python - это последовательность элементов, которые разделены между собой запятой и заключены в фигурные скобки.

In [128]:
{1, 3, 7, 'text'}

{1, 3, 7, 'text'}

С помощью множества можно легко убрать повторяющиеся элементы:

In [129]:
[1, 2, 3, 4, 5, 4, 3, 2, 1]

[1, 2, 3, 4, 5, 4, 3, 2, 1]

In [130]:
set([1, 2, 3, 4, 5, 4, 3, 2, 1])

{1, 2, 3, 4, 5}

In [134]:
set_1 = {1, 2, 3} 

set_2 = set([2, 3, 4, 5])

set_3 = {8, 9}

Добавление нового элемента

In [135]:
set_1

{1, 2, 3}

In [136]:
set_1.add(99)
set_1

{1, 2, 3, 99}

Удалить элемент

In [137]:
set_1.remove(99)
set_1

{1, 2, 3}

Объединение 2х множеств set_1 и set_2

In [139]:
print("set_1: ", set_1)
print("set_2: ", set_2)

set1:  {1, 2, 3}
set2:  {2, 3, 4, 5}

In [141]:
set_1.union(set_2)

{1, 2, 3, 4, 5}

Разныца 2х множеств set_2 и set_1

In [142]:
print("set_1: ", set_1)
print("set_2: ", set_2)

set_1:  {1, 2, 3}
set_2:  {2, 3, 4, 5}

In [143]:
set_2.difference(set_1)

{4, 5}

Пересечение 2х множеств set_1 и set_2

In [144]:
print("set_1: ", set_1)
print("set_2: ", set_2)

set_1:  {1, 2, 3}
set_2:  {2, 3, 4, 5}

In [145]:
set_1.intersection(set_2)

{2, 3}

## Функции

Функция в python - объект, принимающий аргументы и возвращающий значение. Обычно функция определяется с помощью инструкции **def**.

In [147]:
def print_function():
    print("Here is a new function!")
        
def get_some_value():
    return "returned string"

In [154]:
print_function()

Here is a new function!

In [155]:
output = print_function()

Here is a new function!

In [156]:
output

In [157]:
output = get_some_value()

In [158]:
output

'returned string'

Функция может принимать произвольное количество аргументов или не принимать их вовсе. Также распространены функции с произвольным числом аргументов, функции с позиционными и именованными аргументами, обязательными и необязательными.

In [159]:
# Функции с параметрами
def function_name_param(name, age=21):
    return "Here is {st_name}, {st_age} years old".format(st_name=name, 
                                                          st_age=age)

In [165]:
function_name_param(name='Tom')

'Here is Tom, 21 years old'

In [166]:
function_name_param(name='Tom', age=33)

'Here is Tom, 33 years old'

In [167]:
function_name_param('Tom', 33)

'Here is Tom, 33 years old'

In [170]:
function_name_param('Tom', age=33)
# function_name_param(name='Tom', 33)

'Here is Tom, 33 years old'

Функция также может принимать переменное количество позиционных аргументов, тогда перед именем ставится *:

In [171]:
def func(*args):
    return args

In [173]:
func('Tom', 2020, 'Monday')

('Tom', 2020, 'Monday')

Как видно из примера, args - это кортеж из всех переданных аргументов функции, и с переменной можно работать также, как и с кортежем.

Функция может принимать и произвольное число именованных аргументов, тогда перед именем ставится **:

In [174]:
def func(**args):
    return args

In [175]:
func(name='Tom', year=2020, day='Monday')

{'name': 'Tom', 'year': 2020, 'day': 'Monday'}

## Лямбда функции (Lambda function)

Анонимные функции могут содержать лишь одно выражение, но и выполняются они быстрее. Анонимные функции создаются с помощью инструкции **lambda**. Кроме этого, их не обязательно присваивать переменной, как делали мы инструкцией **def func()**:

In [176]:
def string_multiplication(pString, pNumber):
    return pString * pNumber

In [177]:
string_multiplication('hello ', 4)

'hello hello hello hello '

In [178]:
(lambda pString, pNumber: pString * pNumber)('hello ', 4)

'hello hello hello hello '

In [179]:
del string_multiplication

In [180]:
string_multiplication('hello ', 4)

NameError: name 'string_multiplication' is not defined

In [181]:
string_multiplication = (lambda pString, pNumber: pString * pNumber)

In [182]:
string_multiplication('hello ', 4)

'hello hello hello hello '

## Итераторы и Генераторы (Iterator, Generator)
Генераторы и итераторы представляют собой инструменты, которые, как правило, используются для поточной обработки данных.

### Iterator
__[PEP 234 -- Iterators](https://www.python.org/dev/peps/pep-0234/)__

Основное место использования итераторов – это цикл for. Если вы перебираете элементы в некотором списке или символы в строке с помощью цикла for, то ,фактически, это означает, что при каждой итерации цикла происходит обращение к итератору, содержащемуся в строке/списке, с требованием выдать следующий элемент, если элементов в объекте больше нет, то итератор генерирует исключение, обрабатываемое в рамках цикла for незаметно для пользователя.

In [194]:
[1, 2, 'a', [100, 200]][2]

'a'

In [195]:
for i in [1, 2, 'a', [100, 200]]:
    print(i)

1
2
a
[100, 200]

In [197]:
# ищем __iter__ метод
# dir([])

In [198]:
my_list = [1, 2, 'a', [100, 200]]

In [199]:
my_iter = my_list.__iter__()

In [201]:
my_iter.__next__()

1

In [202]:
my_iter.__next__()

2

In [203]:
my_iter.__next__()

'a'

In [204]:
my_iter.__next__()

[100, 200]

In [205]:
my_iter.__next__()

StopIteration:

### Generator 
__[PEP 255 -- Simple Generators](https://www.python.org/dev/peps/pep-0255/)__

**Генератор** – это функция, которая будучи вызванной в функции **next()** возвращает следующий объект согласно алгоритму ее работы. Вместо ключевого слова return в генераторе используется **yield**.

In [206]:
def func_generator(pString):
    for s in pString:
        print('  before')
        yield s
        print('  after')

In [207]:
myGenarator = func_generator("Hi")

In [208]:
myGenarator.__next__()

  before

'H'

In [209]:
myGenarator.__next__()

  after
  before

'i'

In [210]:
myGenarator.__next__()

  after

StopIteration:

## Функции zip, map и filter
__[source: Built-in Functions](https://docs.python.org/3.3/library/functions.html)__

### Функция zip

Cоздает итератор, который соединяет элементы из двух и более список. Функция принимает итераторы в качестве аргументов и возвращает то же итератор. Этот итератор генерирует серию кортежей, содержащих элементы из каждой итерации

In [190]:
list_1 = [1, 'abc', [10, 20, 30]]
list_2 = ["London", (1, 10, 100), 999]

In [192]:
for i in zip(list_1, list_2):
    print(i)

(1, 'London')
('abc', (1, 10, 100))
([10, 20, 30], 999)

### Функция map

Функция map применяет функцию к каждому элементу последовательности и возвращает итератор с результатами

In [212]:
def map_function(obj):
    return obj * 2

In [213]:
output = map(map_function, ['A', 'B', 4])

In [214]:
for i in output:
    print(i)

AA
BB
8

### Функция filter

Функция filter(), которая принимает два параметра и возвращает объект-итератор. Первый аргумент этой функции - какая-либо другая функция, а второй - последовательность (строки, списки и кортежи), итератор или объект, поддерживающий итерацию. Функция filter() возвращает итератор, состоящий из тех элементов последовательности, для которых переданная в качестве первого аргумента функция вернула истину (true) или ее аналог (не ноль, не пустую строку, не None).

In [216]:
list(filter(lambda x: x>=5, [1, 2, 3, 4, 5, 6, 7]))

[5, 6, 7]

In [217]:
list(map(lambda x: x>=5, [1, 2, 3, 4, 5, 6, 7]))

[False, False, False, False, True, True, True]

## Модули (Modules)
__[source: Modules](https://docs.python.org/3/tutorial/modules.html)__

Модули предназначены для того, чтобы в них хранить часто используемые функции, классы, константы и т.п.

In [ ]:
help() #modules

In [ ]:
# !pip install numpy

In [219]:
import math

In [222]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.7/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /usr/local/anaconda3/envs/laba/lib/python3.7/lib-dynload/math.cpython-37m-darwin.so

In [223]:
math.cos(3)

-0.9899924966004454

## Magic Commands
__[28 Jupyter Notebook Tips, Tricks, and Shortcuts](https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/)__

In [183]:
# Вывод всех переменных
%who

a	 func	 function_name_param	 get_some_value	 my_dict	 my_list	 my_set	 my_tuple	 output
print_function	 set_1	 set_2	 set_3	 str_1	 str_2	 str_3	 string_1	 string_2
string_multiplication	 string_number	 user

In [185]:
# Вывод переменных одного типа
%who set

my_set	 set_1	 set_2	 set_3

In [187]:
# Вывод переменных с содержанием
%whos

Variable                Type        Data/Info
---------------------------------------------
a                       str         11
func                    function    <function func at 0x7fe1269288c0>
function_name_param     function    <function function_name_param at 0x7fe126973290>
get_some_value          function    <function get_some_value at 0x7fe1269734d0>
my_dict                 dict        n=9
my_list                 list        n=5
my_set                  set         {1, 2, 3, 4, 5}
my_tuple                tuple       n=4
output                  str         returned string
print_function          function    <function print_function at 0x7fe126973560>
set_1                   set         {1, 2, 3}
set_2                   set         {2, 3, 4, 5}
set_3                   set         {8, 9}
str_1                   str         Data
str_2                   str         Science
str_3                   str         Data Science
string_1                str         Data
string_2                str         Science
string_multiplication   function    <function <lambda> at 0x7fe126937f80>
string_number           str         0123456789
user                    str         Here is Tom, 33 years old

In [188]:
%whos set

Variable   Type    Data/Info
----------------------------
my_set     set     {1, 2, 3, 4, 5}
set_1      set     {1, 2, 3}
set_2      set     {2, 3, 4, 5}
set_3      set     {8, 9}

In [189]:
# История команд которые выполнялись
%rep 66

In [ ]:
'I learn Data Science course'